.file {
    position: relative;
    display: inline-block;
    background:#31B0D5;
    border: 1px solid #31B0D5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #31B0D5;
    border-color: #31B0D5;
    color: #31B0D5;
    text-decoration: none;
}