#lab-file {
    font-size: 12px;
    padding: 10px 30px;
    background: #101213;
    color: #FFF;
    border: none;
    border-radius: 5px;
}
#file {
    display: none;
}
#col1{
    margin-left: 350px;
}
/*#col2{*/
/*    margin-top: 500px;*/
/*}*/
#card{
    margin-top: 30px;
    width: 1000px;
}
#tongueImage1{
    margin-top: 20px;
    margin-left: 150px;
    width: 270px;
    height: 350px;
}
#tongueImage2{
    margin-top: 20px;
    margin-right: 100px ;
    width: 270px;
    height: 350px;
}
#tongueImage3{
    margin-top: 20px;
    margin-left: 150px;
    width: 270px;
    height: 350px;
}
#tongueImage4{
    margin-top: 20px;
    margin-right: 100px ;
    width: 270px;
    height: 350px;
}
#col3{
    margin-top: 30px;
}


#tongueImage5{
    margin-top: 20px;
    margin-left: 150px;
    width: 270px;
    height: 350px;
}
#tongueImage6{
    margin-top: 20px;
    margin-right: 100px ;
    width: 270px;
    height: 350px;
}
#tongueImage7{
    margin-top: 20px;
    margin-left: 150px;
    width: 270px;
    height: 350px;
}
#tongueImage8{
    margin-top: 20px;
    margin-right: 100px ;
    width: 270px;
    height: 350px;
}
#col5{
    margin-top: 30px;
}

#tongueImage9{
    margin-top: 20px;
    margin-left: 150px;
    width: 270px;
    height: 350px;
}
#tongueImage10{
    margin-top: 20px;
    margin-right: 100px ;
    width: 270px;
    height: 350px;
}
#tongueImage11{
    margin-top: 20px;
    margin-left: 150px;
    width: 270px;
    height: 350px;
}
#tongueImage12{
    margin-top: 20px;
    margin-right: 100px ;
    width: 270px;
    height: 350px;
}
#tongueImage13{
    margin-top: 20px;
    margin-left: 150px;
    width: 270px;
    height: 350px;
}
#tongueImage14{
    margin-top: 20px;
    margin-right: 100px ;
    width: 270px;
    height: 350px;
}

#col8{
    margin-top: 30px;
}